<div class="card card-login mt-5">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Didn't receive confirmation?</h4>
    <p class="card-category">Resend password confirmation.</p>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              placeholder: "Email Address",
              class: "form-control",
              value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>
    </div>

    <div class="actions mt-4">
      <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
    </div>
    <% end %>

    <div class="clearfix"></div>

    <div class="mt-4">
      <%= render "devise/shared/links" %>
    </div>

    <p class="mt-4 text-muted">© <%= DateTime.now.year %> Nuggets | JEA</p>
  </div>
</div>
